.App {
  text-align: center;
}

.language-button{
  padding: 5px 15px 5px 15px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  background-color: #004c6174;
  
  
}

.language-button-active{
  padding: 5px 15px 5px 15px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  background-color: rgba(171, 27, 27, 0);
  
  
}

.submit-button{
  padding: 10px 45px 10px 45px;
  margin: 13px;
  border-radius: 5px;
  border: 1px solid rgb(182, 182, 182);
  background-color: #023a48;
  color: white;
  
}

.scrollable-div{
  width: 70%;
}
  /* Style the scrollbar */
  .scrollable-div::-webkit-scrollbar {
    width: 4px; /* Width of the entire scrollbar */
  }

  /* Track */
  .scrollable-div::-webkit-scrollbar-track {
    background: #767676; /* Color of the track */
  }

  /* Handle */
  .scrollable-div::-webkit-scrollbar-thumb {
    background: #202020; /* Color of the scroll thumb */
    border-radius: 6px; /* Roundness of the scroll thumb */
  }

  /* Handle on hover */
  .scrollable-div::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 200px 0 0;
    border-color: #007bff transparent transparent transparent;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0,0,0,.5));
    filter: drop-shadow(1px 1px 1px rgb(226, 226, 226));

  }

  .link{
    color: #023A48
  
  }

  .hlink{
    color: #ffffff
  
  }


.link:hover{
  color: #CDAB67

}

.hlink:hover{
  color: #CDAB67

}

.order{
  color: #CDAB67;

  
}

.order:hover{
  color: white;
  background-color: #CDAB67;
  
}

.subOrder{
  color: white;



  
}

.subOrder:hover{
  color: #CDAB67;
  background-color: #ffffff;
  
}

.mybar{
  animation-name: animation;
  animation-duration: 0.5s;

}

.color {
  background: linear-gradient(to bottom, white, #035064) !important;
  width: 100%;
  height: 100%;
}

.myColor {
  background-color: white;

}

.appearing{
  width: 80%;
  animation-name: appearAnimation;
  animation-duration: 5s;
  padding: 0;
  margin: 0;

}

@keyframes appearAnimation {
  from {width: 0;}
  to {width: 80%;}
  
}


@keyframes animation {
  from{ opacity: 0;}
  to{ opacity: 1;}
  
}

.selected{
  background-color: rgb(4, 108, 152);


}

.login-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.btn-login {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #0056b3;
}

.mySlider{
  width: 500px;
}

@media (max-width: 1024px) {
  .scrollable-div{
    width: 100%;
  }

  .mySlider{
    width: 300px;
  }
  
}