.App {
  text-align: center;
}

.map{
  height: 550px
}

.backImage{
  height: 800px;
}

.map{
  width: 750px

}


@media (max-width: 1024px) {
  .backImage{
    height: 1430px;
  }

  .map{
    width: 100%
    
  }

  
}

